[Unit]
Description=can-ltdc-logger-mqtt

[Service]
Type=simple
ExecStart=/home/pi/can-ltdc-logger-0.1/can-ltdc-logger-mqtt.sh
Restart=always

[Install]
WantedBy=multi-user.target
